.help-modal {
  .ant-modal-content {
    padding: 24px;
  }

  .ant-modal-close {
    top: 16px;
    right: 16px;
    color: #666;
    z-index: 10;

    &:hover {
      color: #333;
    }
  }

  .ant-modal-body {
    padding: 0;
    overflow: hidden;
  }

  &.fullscreen {
    .ant-modal-content {
      min-height: var(--screen-height);
      border-radius: 0;
      display: flex;
      flex-direction: column;
      padding: 24px;

      .ant-modal-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
    }
  }
}
