.run-history-list {
  .run-history-table {
    .ant-table {
      background: transparent;
      border: 1px solid var(--refly-Card-Border);
    }

    .ant-table-tbody>tr>td {
      border-bottom: 1px solid var(--refly-Card-Border);
    }

    .ant-table-tbody>tr:last-child>td {
      border-bottom: none;
    }
  }
}