.canvas-share-setting {
  .ant-select-selector {
    padding: 0 !important;
    .ant-select-selection-item {
      padding-inline-end: 0 !important;
    }
  }
}

.more-tools-dropdown {
  .ant-dropdown-menu-submenu-title{
    padding-left: 6px!important;
    &:hover {
      background-color: var(--refly-tertiary-hover)!important;
    }
  }
}
