.canvas-share-setting {
  .ant-select-selector {
    padding: 0 !important;
    .ant-select-selection-item {
      padding-inline-end: 0 !important;
    }
  }
}

.more-tools-dropdown {
  .ant-dropdown-menu-submenu-title{
    padding-left: 6px!important;
    &:hover {
      background-color: var(--refly-tertiary-hover)!important;
    }
  }
}

// cover schedule select multi-select label style
.schedule-select {
  .ant-select-selector {
    // remove text cursor
    cursor: pointer !important;

    // remove gray background when maxTagCount=0
    .ant-select-selection-item,
    .ant-select-selection-overflow-item {
      background-color: transparent !important;
      border: none !important;
      margin: 0 !important;
      padding: 0 !important;
      // move text position to the right
      margin-left: 4px !important;
      // make text bold
      font-weight: 600 !important;
    }

    // ensure placeholder text style is normal
    .ant-select-selection-placeholder {
      color: inherit;
      font-weight: 600 !important;
    }

    // remove text cursor from search input
    .ant-select-selection-search-input {
      cursor: pointer !important;
    }
  }
}

// same apply to monthly selector (add common class name)
.schedule-select,
.ant-select.schedule-monthly-select {
  .ant-select-selector {
    // remove text cursor
    cursor: pointer !important;

    .ant-select-selection-item,
    .ant-select-selection-overflow-item {
      background-color: transparent !important;
      border: none !important;
      margin: 0 !important;
      padding: 0 !important;
      // move text position to the right
      margin-left: 4px !important;
      // make text bold
      font-weight: 600 !important;
    }

    .ant-select-selection-placeholder {
      color: inherit;
      font-weight: 600 !important;
    }

    // remove text cursor from search input
    .ant-select-selection-search-input {
      cursor: pointer !important;
    }
  }
}

// make time picker text bold
.ant-picker {
  .ant-picker-input > input {
    font-weight: 600 !important;
  }
}

