.provider-store-modal {
    .ant-modal-content {
        height: calc(var(--screen-height) - 80px);
        width: calc(100vw - 80px);
        overflow: hidden;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    .ant-modal-body {
        flex: 1;
        overflow: hidden;
        padding: 0;
    }
}