.search-language-select {
  .ant-select-selection-item {
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent !important;
    height: auto !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: var(--refly-text-0) !important;
    font-weight: 600 !important;
    .ant-select-selection-item-remove {
      display: none !important;
    }
    .ant-select-selection-item-content {
      font-size: 12px !important;
      line-height: 16px !important;
      color: var(--refly-text-0) !important;
      font-weight: 600 !important;
    }
    .ant-select-selection-item-remove {
      display: none !important;
    }
  }

  .ant-select-arrow {
    color: var(--refly-text-0) !important;
  }

  .ant-select-selection-placeholder {
    font-size: 12px !important;
    color: var(--refly-text-3) !important;
  }
}

.show-language-select {
  .ant-select-selector {
    padding: 0 !important;
  }
}