// Only keep Ant Design overrides that cannot be done with Tailwind
.api-output-modal {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--refly-text-0);
    border-color: var(--refly-text-0);
  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: var(--refly-text-0);
  }
}
