.contact-us-popover {
  .ant-popover-inner {
    padding: 16px;
    background: var(--refly-bg-content-z2);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px 0px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
  }
}
