.tool-install-modal-content {
    
    .ant-form-item {
        margin-bottom: 20px;
    }

    .ant-form-item-label {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: var(--refly-text-0);
    }
}