name: Deploy API To Staging

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    uses: ./.github/workflows/deploy-api.yml
    with:
      environment: staging
      deployment_name: refly-api-staging
      eks_cluster_name: ${{ vars.AWS_EKS_CLUSTER_PROD }}
      aws_region: ${{ vars.AWS_REGION }}
    secrets: inherit
