name: Deploy API To Prod

on:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy-api.yml
    with:
      environment: prod
      deployment_name: refly-api
      eks_cluster_name: ${{ vars.AWS_EKS_CLUSTER_PROD }}
      aws_region: ${{ vars.AWS_REGION }}
    secrets: inherit
